rules:
- destination: containerd-api-test
  branches:
  - name: BRANCH_NAME
    source:
      branch: BRANCH_NAME
      dir:
        - "api/"
        - "go.mod"
        - "go.sum"
        - "errdefs/"
        - "protobuf/"
default-go-version: "1.16"
